In [1]:
print('Hello World')

Hello World

## Tipe Data

In [2]:
#Tipe data tunggal
print(3512)

3512

In [3]:
type(3512)

int

In [4]:
print(3.1415)

3.1415

In [5]:
type(3.1415)

float

In [6]:
print(3 + 2j)

(3+2j)

In [7]:
type(3 + 2j)

complex

In [8]:
print(4.0)
type(4.0)

4.0

float

In [9]:
print(True)
type(True)

True

bool

In [10]:
print(False)
type(False)

False

bool

In [11]:
print("Halo Dunia!")
type("Halo Dunia!")

Halo Dunia!

str

In [12]:
print("46")
type("46")

46

str

In [13]:
print('Nama saya Nine A.')
type('Nama saya Nine A.')

Nama saya Nine A.

str

## Variabel

In [15]:
a = 12
print(a)
type(a)

12

int

In [16]:
a = 7.5
print(a)
type(a)

7.5

float

In [18]:
angka_1, angka_2 = 7, 15.2

In [19]:
print(angka_1)
type(angka_1)

7

int

In [20]:
print(angka_2)
type(angka_2)

15.2

float

In [21]:
nama = "Nine Alvariqati V.A"
print(nama)
type(nama)

Nine Alvariqati V.A

str

## Operasi Bilangan

In [23]:
a = 5
b = 4

In [24]:
a // b

1

In [25]:
a % b

1

In [26]:
#Aritmatika
print(a + b)
print(a * b)

9
20

In [28]:
#String
nama_dpn = "Nine"
nama_blk = "Alvariqati"
print(nama_dpn + nama_blk)

NineAlvariqati

In [29]:
print(nama_dpn * 5)

NineNineNineNineNine

In [30]:
#Perbandingan
a = 10
b = 5
print(a > b)

True

In [31]:
#Logika
print(False or True)

True

In [32]:
nama = "Nine alvariqati"
print(nama.capitalize())
print(nama.upper())
print(nama.lower())
print(nama.title())

Nine alvariqati
NINE ALVARIQATI
nine alvariqati
Nine Alvariqati

## Tipe Data Majemuk

In [33]:
#Tuple dan list
my_tuple = (53, 45.2, True, "Nine", (1, 2, 3))
print(my_tuple)
type(my_tuple)

(53, 45.2, True, 'Nine', (1, 2, 3))

tuple

In [34]:
my_list = [53, 45.2, True, "Nine", (1, 2, 3)]
print(my_list)
type(my_list)

[53, 45.2, True, 'Nine', (1, 2, 3)]

list

In [35]:
print(my_tuple[3])

Nine

In [36]:
print(my_list[2])

True

In [37]:
print(my_list[-2])

Nine

In [38]:
print(my_list[2:4])

[True, 'Nine']

In [40]:
print(my_tuple[2:4])

(True, 'Nine')

In [41]:
"nine" in my_tuple

False

In [42]:
"Nine" in my_tuple

True

In [43]:
my_list[3] = "Nine Alvariqati"

In [44]:
my_list

[53, 45.2, True, 'Nine Alvariqati', (1, 2, 3)]

In [46]:
my_tuple[3] = "Nine Alvariqati" #tupple tidak bisa di edit

TypeError: 'tuple' object does not support item assignment

In [59]:
#Menambah data
my_list

[53, 45.2, True, 'Nine Alvariqati', (1, 2, 3)]

In [60]:
#menggunakan append
my_list.append("Surabay")

In [61]:
my_list

[53, 45.2, True, 'Nine Alvariqati', (1, 2, 3), 'Surabay']

In [62]:
#menggunakan insert
my_list.insert(0, "MSIB")

In [63]:
my_list

['MSIB', 53, 45.2, True, 'Nine Alvariqati', (1, 2, 3), 'Surabay']

In [64]:
#Menghapus data
my_list

['MSIB', 53, 45.2, True, 'Nine Alvariqati', (1, 2, 3), 'Surabay']

In [65]:
#menggunakan remove
my_list.remove('Surabay')

In [56]:
my_list

['MSIB', 53, 45.2, True, 'Nine Alvariqati', (1, 2, 3)]

In [66]:
#menggunakan del
del my_list[0]

In [68]:
my_list

[53, 45.2, True, 'Nine Alvariqati', (1, 2, 3)]

In [73]:
#Dictionary
my_dict = {'Nama':'Nine Alvariqati', 'Pekerjaan': 'Data Scientist'}

In [75]:
my_dict['Nama']

'Nine Alvariqati'

In [76]:
my_dict['Nama'] = 'Rara'

In [77]:
my_dict

{'Nama': 'Rara', 'Pekerjaan': 'Data Scientist'}

In [78]:
my_dict['Domisili'] = 'Surabaya'

In [79]:
my_dict

{'Nama': 'Rara', 'Pekerjaan': 'Data Scientist', 'Domisili': 'Surabaya'}

In [80]:
del my_dict['Pekerjaan']

In [81]:
my_dict

{'Nama': 'Rara', 'Domisili': 'Surabaya'}

In [82]:
#Set

my_set1 = {1,1,1,1,1,2,2,3,3,3,3,3,4,4,4,4,5,5,5,5}
my_set2 = {3,6,9,12}

In [83]:
my_set1.union(my_set2)

{1, 2, 3, 4, 5, 6, 9, 12}

In [84]:
my_set1.intersection(my_set2)

{3}

## String Formating

In [85]:
nama = 'NineAlvariqati'

In [86]:
nama[3]

'e'

In [87]:
nama[4:9]

'Alvar'

In [88]:
'p' in nama

False

In [93]:
#Didn't use f string

nama = "Nineeeeee"
print("Nama saya", nama)

Nama saya Nineeeeee

In [94]:
#Use f string

nama = "Nineeeeee"
print(f"Nama saya {nama}")

Nama saya Nineeeeee

In [95]:
nama = "Zyzy"
kelas = "VI A"
print(f"Siswa bernama {nama} berada di kelas {kelas}")

Siswa bernama Zyzy berada di kelas VI A